@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
